
{{> head }}

{{> navbar }}
<div class="container-fluid">
<div class="row">
 <div class="col-8">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo molestias voluptatibus impedit explicabo repudiandae nam modi ipsum quia commodi maiores similique exercitationem et perferendis autem consequatur, porro ullam. Et, molestiae?</p>
 </div>
 <div class="col-4">
   <img class="img-thumbnail" src="../assets/img/img.jpeg" alt="imagen de prueba">
 </div>
</div>
{{> footer}}